* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff: 'Roboto', sans-serif;
    --header-p-fc: #E1E1E6;
    --nav-fc: #C4C4CC;
    --button-fc: #FFFFFF;

}

body {
    font-family: var(--ff);
}

img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 100vh;
    width: 100vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 4.2rem;

    padding: 4rem 0 4rem 7.2rem;
}
nav a{
    text-decoration: none;
    font-size: 2.4rem;
    color: var(--nav-fc);
}
nav a:hover {
    font-weight: 700;
    color: var(--button-fc);
}


.description {
    text-align: left;
    color: var(--header-p-fc);
    padding-left: 10.2rem;
}
h1 {
    color: var(--header-p-fc);
    font-size: 4.8rem;
    line-height: 6rem;

    margin: 6.3rem 0 1.6rem;
}
p {
    font-size: 1.8rem;
    width: 64.8rem;
    line-height: 2.9rem;
}

#home {
    width: 40rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;

    margin: 15vh auto;
}
#home h1 {
    margin: 0;
}
button {
    background-color: transparent;
    border: 2px solid var(--button-fc);
    border-radius: 5px;
    padding: 1.2rem 3.2rem;

    text-transform: uppercase;
    color: var(--button-fc);
    font-weight: 700;
    font-size: 1.4re,;
    line-height: 2.4rem;

    cursor: pointer;
}